html {
  font-size: 18px;
}

.dim_cont {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: black;
  font-size: 1rem;
}

header .dim_cont {
  display: flex;
  align-items: center;
  color: white;
  padding-top: .66rem;
  padding-bottom:.66rem;
}

img.logo {
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
}

#main_cont {
  display: flex;
  flex-direction: column;
}

#moto_cont {
  background-image: url("../images/moto.jpg");
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#block_cont {
  position:absolute;
  top: 9rem;
  background-color: black;
  width: 20rem;
  color: white;
  padding: 2rem 3rem;
  font-family: Helvetica;
  font-weight: bold;
}

#block_cont h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

#block_cont h2 {
  font-size: 2rem;
}

#product_cont {
  background-color: firebrick;
  padding: 0.75rem 0rem;
  background-position: center;
}

#nav_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.nav_bar a {
  color: white;
  text-decoration: none;
}

#nav_menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.nav_menu_bar a {
  color: white;
  text-decoration: none;
}

#pic_cont_section {
  padding-top: 3rem;
  height: 15rem;
  background-position: center;
}

#pic_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pic_cont_all {
  display: flex;
  height: 15rem;
  border: solid;
  border-color: black;
  border-width: 4px;
  width: 30%;
}

.pic_cont_align {
  width: 100%;
  text-align: center;
}

.image img {
  height: 9rem;
  width: 9rem;
  padding: 2rem 0rem;
}

.image_glasses img {
  height: 5rem;
  width: 9rem;
  padding: 4rem 0rem;
}

.img_footer {
  display: flex;
  justify-content: center;
  height: 2rem;
  color: white;
  align-items: center;
  background-color: black;
}

section.info_cont_main {
  background-color: none;
  background-position: center;
}

#info_cont {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.info_cont_loc {
  width: 35%;
  padding-bottom: 4rem;
}

.info_top {
  display: flex;
  background-color: black;
  color: white;
  padding-left: 2rem;
  height: 3rem;
  align-items: center;
}

footer {
  background-color: black;
  background-position: center;
}

#footer {
  display: flex;
  align-items: center;
  text-align: left;
  color:white;
  height: 5rem;
}


@media only screen and (max-width: 1024px) {
  #nav_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }

    .nav_menu_bar a {
      color: white;
      text-decoration: none;
    }

  #nav_cont {
    display: none;
  }

  .pic_cont_all {
    width: 45%;
  }

  .pic_cont_all.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {

  .pic_cont_all.pen {
   margin: -1.5rem auto;
  }

  .pic_cont_all {
    width: 90%;
    align-items: center;
  }

  .pic_cont_all.watch {
    display: none;
  }

  .pic_cont_all.pen {
    display: flex;
    align-items: center;
  }

  #info_cont {
    display: flex;
    flex-direction: column;
  }

  .info_cont_loc {
    align-items: center;
    width: 90%;
    margin: -1.5rem auto;
    text-align: center;
  }

  .moto_cont {
    overflow: hidden;
  }

  #block_cont {
    display: flex;
    flex-direction: column;
    top: 13.5rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    overflow: hidden;
  }

  #block_cont h4 {
    font-size: .77rem;
    padding-bottom: 0.25rem;
  }

  #block_cont h2 {
    font-size: 1rem;
  }

  #moto_cont {
    background-image: url("../images/moto.jpg");
    height: 15rem;
  }

 #footer h6 {
    margin: auto;
    }
}
